/* .keyframe {
    width: 200px;
    height: 200px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from{background-color: red;}
    to {background-color: yellow;}
} */

/* .duration {
    height: 200px;
    width: 200px;
    background-color: red;
    animation-name: exampleTwo;
    animation-duration: 7s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes exampleTwo {
    0% {background-color: red; left: 0px; top: 0px;;}
    25% {background-color: yellow; left: 200px; top: 0px;}
    50% {background-color: blue; left: 0px; top: 200px;}
    75% {background-color: orange; left: 0px; top: 200px;}
    100% {background-color: green; left: 0px; top: 0px;}

} */

.container {
    width: 150px;
    height: 100px;
    font-weight: bold;
    position: relative;
    background-color: red;
    animation-duration: 6s;
    animation-name: mover;
    animation-fill-mode: forwards;
}

#div1 {
    animation-timing-function: ease;
}

#div2 { 
    animation-timing-function: ease-in;
}
#div3 { 
    animation-timing-function: ease-out;
}

#div4 { 
    animation-timing-function: ease-in-out;
}
#div5 { 
    animation-timing-function: linear;
}

@keyframes mover {
    from {left: 0px;}
    to {left: 300px;}
}

.anime {
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;

    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 3rem;
}



@keyframes textclip {
    to {
        background-position: 200% center;
    }
}