/* Descendant selector */
/* div p{
    background-color: yellow;
} */

/* Child Selector */

/* div > p{
    background-color: yellow;
} */

/* Adjacent-Sibling Selector */

/* div + p{
    background-color: yellow;
} */

/* General-Sibling Selector */

div ~ p{
    background-color: yellow;
}